body {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran';
  font-weight: 800 !important;
}


.navbar-custom{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.514);
}

.navbar-custom .navbar-brand{
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
}

.navbar-custom .navbar-brand .nav-item .nav-link
{
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
}

header.masthead {
    position: relative;
    overflow: hidden;
    padding-top: calc(7rem + 72px);
    padding-bottom: 250px;
    background: linear-gradient(0deg, #a2dde0 0%, #e88f93 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}
  
header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}
  
header.masthead .masthead-content .masthead-heading {
  font-size: 5rem;
}
  
header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
}
.bg-black {
  background-color: rgba(0, 0, 0, 0.699);
}

.footer{
  padding-left: 5rem;
  color: white;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #E88F93;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #A2DDE0;
  background-color: transparent;
  text-decoration: underline;
}

