.bg{
    background-color: #E88F93;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran';
  font-weight: 500 !important;
}


body {
    position: relative;
    max-width: 50rem;
    margin: 2rem auto;
}
a{
    display: block;
    padding: 10px;
    position: absolute;
    z-index: -1;
    top: 1rem;
    left: 100%;
    margin-left: -62px;
    transition: all .2s;
}
a:hover {
    margin-left: 0;
}
  
.padding{
    padding: 3rem;
    align-self: center;
}