.bg{
    background: #e88f93;
    background-repeat: no-repeat
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran';
  font-weight: 500 !important;
  
}


body {
    position: relative;
    max-width: 50rem;
    margin: 2rem auto;
    
}

  
.padding{
    padding: 3rem;
    align-self: center;
}

.register{
    background-color: #A2DDE0;
}